@use "../variables" as *;
@use "sass:color";

.c-speakers {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    article {
      flex: 1 1 260px;
      max-width: 300px;
      background-color: #f5faff;
      border: 1px solid #ddeeff;
      padding: 1.5rem;
      border-radius: 1rem;
      text-align: center;

      img {
        width: 240px;
        height: auto;
      }

      h2 {
        font-size: 1.25rem;
        margin-top: 1rem;
      }

      p {
        font-size: 0.9rem;
        color: color.scale($uoc-corporate, $lightness: 30%);
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 0.95rem;
  margin-top: 3lh;

  th,
  td {
    padding: 1rem;
    text-align: left;
  }

  thead {
    background-color: map-get($miami-blue, 100);

    tr:first-of-type th {
      font-size: 1.25rem;
      font-weight: 700;
      color: map-get($miami-blue, 900);
      background-color: map-get($miami-blue, 50);
    }

    tr:last-of-type {
      background-color: map-get($miami-blue, 100);

      th {
        color: $uoc-corporate;
        font-weight: 600;
        border-bottom: 2px solid map-get($miami-blue, 300);
      }
    }
  }

  tbody tr {
    border-bottom: 1px solid map-get($miami-blue, 200);

    &:nth-child(even) {
      background-color: map-get($miami-blue, 50);
    }

    &:hover {
      background-color: map-get($miami-blue, 100);
    }
  }

  tfoot {
    font-style: italic;
    td {
      padding-top: 1.5rem;
      color: map-get($miami-blue, 900);
    }
  }
}
