<footer class="c-footer">
  <hr class="c-footer__divider" />
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center pt-4 pb-2">
    <picture>
      <source srcset="./assets/images/logo.png"/>
      <img
        src="./assets/images/logo.png"
        alt="Logo Jornadas de Economía Circular"
        class="c-header__logo"
      />
    </picture>
    <ul class="nav justify-content-center gap-3 mb-3 mb-md-0">
      <li class="nav-item"><a href="./index.html" class="nav-link px-1">Inicio</a></li>
      <li class="nav-item"><a href="./jornadas.html" class="nav-link px-1">Jornadas</a></li>
      <li class="nav-item"><a href="./ponentes.html" class="nav-link px-1">Ponentes</a></li>
      <li class="nav-item"><a href="./participa.html" class="nav-link px-1">Participa</a></li>
    </ul>
    <div class="d-flex gap-3">
      <a href="#" aria-label="Google Plus"><i class="bi bi-google"></i></a>
      <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
    </div>
  </div>
</footer>
